body { padding-top:70px;
font-family:Montserrat; }
table.playlist td {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table.playlist th {
	text-transform: uppercase;
	color: #ccc;
	font-weight: normal;
	letter-spacing: 1px;
}