body { padding-top:70px;
font-family:Raleway; }
.navbar-brand {
	font-family:Montserrat;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Raleway;
	font-weight:400;
}

.jumbotron {
	background-color:none;
}
h3.title { /* sorry for not being semantic :( */
	text-transform: uppercase;
	font-weight:200;
	color:#ccc;
}	
table.playlist td {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.playlist {

	table-layout: fixed;
}
table.playlist th {
	text-transform: uppercase;
	color: #ccc;
	font-weight: normal;
	letter-spacing: 1px;
}

.pointer {
	cursor: pointer;
}

.playlist .fa-arrow-circle-o-up {
	line-height:1em;
}
.playlist td:hover .fa-arrow-circle-o-up {
	color:#2a9fd6;
	cursor: pointer;
}
.upvote-count {
	margin-left: 5px;
	color: #ccc;
}