body { padding-top:70px;
font-family:Raleway; }
.navbar-brand {
	font-family:Montserrat;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Raleway;
	font-weight:400;
}

.jumbotron {
	background-color:none;
}
h3.title { /* sorry for not being semantic :( */
	text-transform: uppercase;
	font-weight:200;
	color:#ccc;
}	
table.playlist td {
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.playlist {

	table-layout: fixed;
}
table.playlist th {
	text-transform: uppercase;
	color: #ccc;
	font-weight: normal;
	letter-spacing: 1px;
}

.pointer {
	cursor: pointer;
}

.playlist .fa-arrow-circle-o-up {
	line-height:1em;
}
.playlist td:hover .glyphicon, .playlist td:hover .fa{
	color:#2a9fd6;
	cursor: pointer;
}
.upvote-count {
	margin-left: 5px;
	color: #ccc;
}
.server-item:hover, .server-item:active {
	background-color: #4D4D4D;
	color: #AFAFAF;
	cursor:pointer;
}

.server-name {
	color: white;
	margin-right: 10px;
	font-size: 1.4em;
	text-transform: uppercase;
	}


@media (max-width: 770px) {
	.form-control-feedback {
		top:0;
	}
	#connect {
		width:100%;
		border-radius:0;
	}
	#jambox {
		border-color:white;
		border-bottom:0;
		border-radius:0;
	}
	.form-group {
		margin-bottom:0;
	}
}

@media screen {
	#connect {
		border-radius:0 0 4px 4px;
	}
	#jambox {
		border-color:white;
		border-radius:4px 4px 0 0;
		border-bottom:0;
		margin-right:0;
	}
	.form-group {
		margin-bottom:0;
	}
}