<div class="jumbotron">
    <h1 style="text-align:center;margin-top:0;">Connect to a Jambox</h1>
    <div class="row">
        <p>
    

        </p>
    </div>
    <div class="row">
    <ul class="list-group">
        <li class="list-group-item server-item" ng-repeat="server in result">
            <div class="row" ng-click="joinServer(server.name)">
                <div class="col-xs-12">
                    <span class="server-name">{{server.name}}</span><small>{{server.address}}</small>
                </div>
            </div>
        </li>
    </ul>
    </div>
    <h5>Or enter a Jambox ID</h5>
    <form class="form-inline" role="form">
        <div class="form-group">
            <input type="text" class="form-control" id="jambox" placeholder="Jambox ID" ng-model="serverName"></div><button type="submit" class="btn btn-primary" ng-click="joinServer()">Connect</button>
    </form>

</div>
