<div class="row splash"><div class="col-md-6 col-md-offset-3">
	<div class="jumbotron text-center">
		<h1>Playlister</h1>

		<h2 class="text-muted">Music you like, everywhere</h2>
	</div>
</div></div>
<div class="row"><div class="col-md-6 col-md-offset-3">
	<div class="panel panel-default"><div class="panel-body text-center">
		<h2>Try it now</h2><br>
		<form class="form-inline" role="form">
			<div class="form-group">
				<input type="username" class="form-control" id="username" placeholder="Username">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" id="password" placeholder="Password">
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-primary" id="register">Register</button>
			</div>
		</form>
	</div></div>
</div></div>